*{
    margin: 0;
    padding: 0;

}

.sem {
    text-align: center;
    
}


.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.unit {
    flex-basis: 18%;
    padding: 20px 10px;
    background-color: #fff3f3;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}

.semtitle{
  color: white;
}

.dropbtn {
    
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius: 10px;
    width: 100%;
    background-image: linear-gradient(to right, #576ad8b4, #91789b95);
    
    
  }

  .sem:hover{
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0.727),black);
    /* background-color:White; */
    
  }

  
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color:rgba(73, 132, 132, 0.405);
  }

  .sub-menu-1 {
    display: none;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: black;
    position: absolute;
    min-width: 160px;
    border-radius: 10px;

}

.dropdown:hover .sub-menu-1 {
    display: block;
  position: absolute;



}


.sub-menu-1 a {
    text-decoration: none;
    color: black;
    padding: 12px 16px;
    display: block;
}
.sub-menu-1 a:hover {background-color: #ddd}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    flex-basis: 18%;
    padding: 20px 10px;
    
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f1f1f1; */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}



